@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<body class="body-content" id="homebody">
    <section>
        <article class="row" id="row">    
            <br /><br /><br />               
              България взима участие още на първите модерни олимпийски игри в Атина през 1896 с един участник - гимнастикът <a href="https://bg.wikipedia.org/wiki/%D0%A8%D0%B0%D1%80%D0%BB_%D0%A8%D0%B0%D0%BC%D0%BF%D0%BE" target="_blank">Шарл Шампо.</a><br /><br /><br />

             В първата олимпиада в Атина 1896 участват едва 14 страни,сред които е и България.<br />
             Идеята на организаторите на първите съвременни игри е била   състезанията да се състоят на древния стадион в Олимпия, но се отказали заради твърде скъпите възтановителни работи.Швейцарският учител по гимнастика Шарл Шампо представлява страната ни на възтановените олимпийски игри.За да изглежда съвсем по български,фамилията му придобива славянско звучене и е записана като Шампов.<br />
             Шарл Шампо пристига в България с още 11 свой сънародници,за да въведе в българското училище европейските тенденции в заниманията със спорт.Разпределен е като учител в 1-ва софийска мъжка гимназия и е главатар на гимнастическото дружество "Юнак".<br /><br /><br />
        </article>
        <article>
            ПАРИЖ 1924:За пръв път български спортисти се състезават на Олимпиада едва през 1924 година.На олимпиадата в Антерпен,Белгия,България не е допусната до участие като съюзник на Германия в Първата световна война.В Париж участваме в състезания по футбол,лека атлетика и колоездене с 24-ма спортисти,между които поручик Крум Лекарски и ротмистър Владимир Стойчев в турнира по конен спорт.<br /><br /><br />
        </article>

        <article>
            АМСТЕРДАМ 1928:Българската група е от петима души- трима ездачи и двама фехтовачи.Главната причина за малкото ни участници е катастрофалното заметресение в Чирпан през април и редуцираните средства по тази причина.На тази олимпиада участват и двамата братя Лекарски - Крум в конния спорт, а по-малкият Асен - във фехтовката.След падане при едно от препядствията конят на Крум Лекарски,спъвайки се,ляга върху него и счупва тазова кост.Ездачът успява да стане и отказва всякаква помощ (според тогавашния правилник това се наказва с декласиране).Качвайки се пак на коня и
            продължавайки да прескача препядствията, които му остават да преодолее,Лекарски пристига на финала и едва след това изгубва съзнание.<br /><br /><br />
        </article>
        <article>
            БЕРЛИН 1936:Хитлер вече е на власт по време на тази олимпияда.Българксата делегация заминава за Берлин със специален влак в състав от 94 души, от които само 23-ма са състезатели.Най-добре се класира Христо Малакчиев - десети във всестранната езда.Олимпийските игри са прекратени за 12 години,заради Втората световна война.<br /><br /><br />
        </article>
        <article>
            В ЛОНДОН през 1948 година, България не взима участие.<br /><br /><br />
        </article>
        <article>
            ХЕЛЗИНКИ 1952:Игрите са исторически за България (63 участници в осем спорта),тъй като в Хелзинки боксьорът Борис Георгиев спечелва първи медал за България - бронзов.Олимпийски дебют правят българските спортистки (леко атлетката Цветана Берковска и 8 гимнастички), като Цветана Станчева е шеста в шампионата на греда.Баскетболистите ни са седми.В класирането по националности България заема 40 място.<br /><br /><br />  
        </article>
        <article>
            МЕЛБЪРН 1956: В Мелбърн България има своя първи олимпийски шампион-Никола Станчев в свободната борба.Българите се окичат с оше три сребърни отличия-борците Юсеин Мехмедов,Димитър Добрев и Петко Сираков, и едно бронзово - олимпийския отбор на България по футбол.Поради карантина за влизащите на този континент животни,турнирът по конен спорт се провежда в Стокхолм,където нашият ездач Рашко Фратев е пети във всестранната езда.В общото класиране България заема 19 място.<br /><br /><br />
        </article>
        <article>
            РИМ 1960:Атлети от общо 44 нации успяват да спечелят поне един медал,оставяйки други 39 без отличие.СССР печелят най-много(103),златни-43,сребърни-29 и бронзови 31.Дебют на Игрите правят сборният отбор на Британските Западни Индии,Мароко,Сан Марино,Судан и Тунис.Суринам също участва за пръв път,но в последния момент единствения им представител се отказва.Источна и Западна Германия участват като Сборен олимпийски отбор на Германия.За първи и единствен път участват Британските Западни Индии,които са съставени от Ямайка,Барбадос и Тринидат и Тобаго.Република Китай,Етиопия,Гана,Ирак,Мароко и Сингапур печелят печелят първите си олимпийски отличия.България отново има шампион-борецът Димитър Добрев.Борците носят още медали:Крали Бимбалов,Неждет Залев и Станчо Колев-сребърни,Динко Петров и Еню - бронзови.Гимнастикът Велик Капсъзов печели бронз на халки.България печели 7 медала и се класира на 15 място в общото класиране по медали от Рим 1960 година<br /><br /><br />
        </article>
        <article>
            ТОКИО 1964:В Токио шампиони стават борците Еню Велчев,Продан Гарджев и Боян Радев.Вицешампиони са стрелецът Величко Величков и борците Ангел Керезов,Кирил Петков,Станчо Колев,Лютви Ахмедов.Бронзови медали носят Александър Николов(бокс) и Саид Мустафов(борба).В класирането по националности, България заема 11 място.<br /><br /><br />
        </article>
        <article>
            МЕКСИКО 1968:Боян Радев става първият българин дублирал олимпийската си титла.Шампион е и още борецът - Петър Киров.Вицешампиони са футболният тим и борците Еню Тодоров,Еню Вълчев и Осман Дуралиев.Бронзови медалисти са боксьорите Иван Михайлов и Георги Станков,както и борецът Продан Гаджев.В крайното класиране България заема 18 място.<br /><br /><br />
        </article>
        <article>
            МЮНХЕН 1972:Българските спортисти се състезават в 1 спорта и печелят 6 златни медала - боксьорът Георги Костадинов,щангистите Нораир Нурикян,Йордан Биков и Антон Николов, борците Петър Киров и Георги Мърков.Вицешампиони са борците Огнян Николов,Осман Дуралиев,Стоян Апостолов и Александър Томов,лекоатлетките Диана Йоргова и Йорданка Благоева.Бронзови медалисти са борците Стефан Ангелов и Иван Кръстев,лекоатлетите Иванка Христова и Василка Стоева,двойка кануисти Иван Бурчин и Федя Дамянов.България печели 21 медала и се класира на 9 място в общото класиране по медали.<br /><br /><br />
        </article>
       <article>
           МОНРЕАЛ 1976:Българите печелят 8 олимпийски титли чрез атлетката Иванка Христова,гребкините Светла Оцетова,Здравка Йорданова и Сийка Келбечева,Стоянка Груйчева,щангистите Нораир Нурикян и Йордан Митков,борецът Хасан Исаев.Вицешампиони са борците Камен Горанов,Александър Томов и Стоян Николов,щангистите Георги Тодоров,Трендафил Стойчев и Кръстю Семерджиев,атлетките Мария Вергова и Николина Щерева,женската четворка по гребане с кърмчия.Бронзови медалисти са боксьорът Владимир Колев,борците Стефан Ангелов,Иван Колев и Димо Костов, щангистът Атанас Шопов,лекоатлетката Йорданка Благоева, и баскетболистките.В класирането по националности България заема 7 място с 22 медала.<br /><br /><br />
       </article>
    </section>
</body>