@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
       <div>
           МОНРЕАЛ 1976:Българите печелят 8 олимпийски титли чрез атлетката Иванка Христова,гребкините Светла Оцетова,Здравка Йорданова и Сийка Келбечева,Стоянка Груйчева,щангистите Нораир Нурикян и Йордан Митков,борецът Хасан Исаев.Вицешампиони са борците Камен Горанов,Александър Томов и Стоян Николов,щангистите Георги Тодоров,Трендафил Стойчев и Кръстю Семерджиев,атлетките Мария Вергова и Николина Щерева,женската четворка по гребане с кърмчия.Бронзови медалисти са боксьорът Владимир Колев,борците Стефан Ангелов,Иван Колев и Димо Костов, щангистът Атанас Шопов,лекоатлетката Йорданка Благоева, и баскетболистките.В класирането по националности България заема 7 място с 22 медала.<br /><br /><br />
    </div>
</div>