@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div">
            МЮНХЕН 1972:Българските спортисти се състезават в 1 спорта и печелят 6 златни медала - боксьорът Георги Костадинов,щангистите Нораир Нурикян,Йордан Биков и Антон Николов, борците Петър Киров и Георги Мърков.Вицешампиони са борците Огнян Николов,Осман Дуралиев,Стоян Апостолов и Александър Томов,лекоатлетките Диана Йоргова и Йорданка Благоева.Бронзови медалисти са борците Стефан Ангелов и Иван Кръстев,лекоатлетите Иванка Христова и Василка Стоева,двойка кануисти Иван Бурчин и Федя Дамянов.България печели 21 медала и се класира на 9 място в общото класиране по медали.<br /><br /><br />
        </div>
</div>