@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div class="col-lg-4">
            РИМ 1960:Атлети от общо 44 нации успяват да спечелят поне един медал,оставяйки други 39 без отличие.СССР печелят най-много(103),златни-43,сребърни-29 и бронзови 31.Дебют на Игрите правят сборният отбор на Британските Западни Индии,Мароко,Сан Марино,Судан и Тунис.Суринам също участва за пръв път,но в последния момент единствения им представител се отказва.Источна и Западна Германия участват като Сборен олимпийски отбор на Германия.За първи и единствен път участват Британските Западни Индии,които са съставени от Ямайка,Барбадос и Тринидат и Тобаго.Република Китай,Етиопия,Гана,Ирак,Мароко и Сингапур печелят печелят първите си олимпийски отличия.България отново има шампион-борецът Димитър Добрев.Борците носят още медали:Крали Бимбалов,Неждет Залев и Станчо Колев-сребърни,Динко Петров и Еню - бронзови.Гимнастикът Велик Капсъзов печели бронз на халки.България печели 7 медала и се класира на 15 място в общото класиране по медали от Рим 1960 година<br /><br /><br />
        </div>
</div>