@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div class="col-lg-4">
            ТОКИО 1964:В Токио шампиони стават борците Еню Велчев,Продан Гарджев и Боян Радев.Вицешампиони са стрелецът Величко Величков и борците Ангел Керезов,Кирил Петков,Станчо Колев,Лютви Ахмедов.Бронзови медали носят Александър Николов(бокс) и Саид Мустафов(борба).В класирането по националности, България заема 11 място.<br /><br /><br />
        </div>
</div>